# Git
.git

# Environment files
.env
.env.dev

# Editor / IDE settings
.idea/
.vscode/

# Build & binary outputs
/bin/
*.exe
*.out
*.log

# Docker / database data
db-data/
docker-compose*.yml

# Local notes
my-notes.md
